{{- define "base" }}<script type="text/javascript">{"title":{{ .TitleOpts}},"tooltip": {{ .TooltipOpts }},"legend": {{ .LegendOpts }},{{- if .HasGeo }}"geo": {{ .GeoComponentOpts }},{{- end }}{{- if .HasRadar }}"radar": {{ .RadarComponentOpts }},{{- end }}{{- if .HasParallel }}"parallel": {{ .ParallelComponentOpts }},"parallelAxis": {{ .ParallelAxisOpts }},{{- end }}{{- if .HasSingleAxis }}"singleAxis": {{ .SingleAxisOpts }},{{- end }}{{- if .ToolboxOpts.Show }}"toolbox": {
        "show":true,
            "feature":{
            "saveAsImage":{
                "title":"Save"
            },
            "dataZoom":{
                "show":true,
                "title":"Data Zoom"
            },
            "dataView":{
                "show":true,
                "title":"Data View",
                "lang": ["data view", "turn off", "refresh"],
                "buttonColor":"#1a3f5d",
                "buttonTextColor":"#ffffff"
            },
            "restore":{
                "show":true,
                "title":"Restore"
            }
        }
    },
        "grid": {
            "left": "8px",
                "right": "8px",
                "bottom": "0",
                "containLabel": true
        },{{- end }}{{- if gt .DataZoomOptsList.Len 0 }}"dataZoom":{{ .DataZoomOptsList }},{{- end }}{{- if gt .VisualMapOptsList.Len 0 }}"visualMap":{{ .VisualMapOptsList }},{{- end }}{{- if .HasXYAxis }}"xAxis": {{ .XAxisOptsList }},"yAxis": {{ .YAxisOptsList }},{{- end }}{{- if .Has3DAxis }}"xAxis3D": {{ .XAxis3D }},"yAxis3D": {{ .YAxis3D }},"zAxis3D": {{ .ZAxis3D }},"grid3D": {{ .Grid3D }},{{- end }}"series": [{{ range .Series }}{{- . }},{{ end -}}],{{- if eq .Theme "white" }}"color": {{ .Colors }},{{- end }}{{- if ne .BackgroundColor "" }}"backgroundColor": {{ .BackgroundColor }}{{- end }}}</script>{{ end }}